# **_1. Python Datum & Data_**
**금융데이터를 활용한 파이썬 기초 객체**

<br><br>
<처음 접근하시는 분들의 공통적인 의견>
## Python 은 쉽다고 하더라
## 하지만 Python 은 어렵더라
## 해보면 Python 은 강력하더라다
<br><br>

<br>
<br>
<번역기>
## Python 은 <strike>다른 언어에 비해서</strike> 쉽다
## 하지만 <strike>막상 공부해보면</strike> Python 은 어렵다
## <strike>다른 언어의 대부분의 개념이 포함되어서 어렵다 그래서</strike> 해보면 Python 은 강력하다
최소한의 문법과 예제들을 이해하고 암기해야 하지만 **Learning Curve** 가 다른 언어학습경험에 비해서 많다고 할 수는 없다

<img src="https://i.pinimg.com/474x/ae/f6/4b/aef64b334fe2b487ee516dbf48d5b88c--curves.jpg" align='left'/>

<br>
## **1 Why Coding**
Introduction

### **01 왜 파이썬을 배우러 오셨습니까?**
미래의 지구는 인간 만으로는 살기 어렵다는데

정 안되면 자연으로 돌아가고 싶은 생각 중...<br>

<img src="http://cdn.pingwest.com/wp-content/uploads/2016/03/DSCF3721.0.jpg" align='left' width=600>

<br>
### **02 가장 큰 장점은 Simulation & Testing 이다**

<img src="https://raw.githubusercontent.com/VHRanger/matchingmarkets/master/matching%20graph%20example.gif" align='left' width=600>

<br>
### **03 하지만 이 길은 멀고 험난합니다**
첫 술에 배부르랴..

익숙하지 않을 뿐, 익숙해 지는 것 부터 시작하고 완성하면 그것이 처음이자 끝이다

처음부터 맛에 익숙하진 않지만,  살아가면서 다양한 맛을 알고 이해하게 된다..

자세히 설명은 못해도 머리와 몸으로 이해하듯...

언의의 내용과 개념을 있는 그대로 받아들이고 이해하는 과정이 이번 수업의 내용입니다

<img src="http://cfile210.uf.daum.net/image/217073395486BED70AAF8D" align='left' width='600'>

<br>
### **03 Why Python**
Introduction

#### **3-1 Excel VBA**
1. 역사가 길고 VBA Source들이 많다
1. cristall ball 등 오랜 검증이 확실한 도구들이 많다
1. 대용량 작업을 위해선 많은 성능을 요한다

<img src="http://developerfarm.cdn1.cafe24.com/cover/l/9791158390891.jpg" align='left' width='400'>

#### **3-2 R, R-studio**
1. 금융 Quant에 관련된 Source들이 다양하다
1. 계산에 가장 최적화된 언어로 설치 및 활용
1. 무료다 (아직은....) <strike>Micro Soft에게 결정권이 달려있다..</strike>

<img src="http://preview.yes24.com/PreviewResize.aspx?no=53564397&fn=r9w6g2m7ehc8ljkt01.jpg&size=700|904" align='left' width='400'>

#### **3-3 Python**
1. R에 비해서 Open된 Source 들이 부족하다
1. 다른 언어에 비해서 상대적으로 쉽다 <strike>그러면서 쉽지않다</strike>
1. 규칙에 근거한 coding (<strike>때문에 짧아서 쉬워 보일 뿐, 쉽지 않다)</strike>
1. 한편 쉽지 않다는 건 그만큼 강력한 활용이 가능하는 뜻이기도 하다
    
<img src="http://preview.yes24.com/PreviewResize.aspx?no=56882179&fn=31jg1uxtfc0gao9e01.jpg&size=700|885" align='left' width='400'>

## **_Question_** 다음중 예측 가능한 것은?
1. 이건희 사망시기
1. 테슬라 주행자동차 사건예측
1. 대우조선해양 부정회계
1. 내일의 한국/ 미국의 주가지수
1. 삼성전자 다음 분기의 영업이익 증가/ 감소분
1. 대한민국 내수시장의 다음분기 실적예측

본인이 지금당장 할 수 있으면, 기계로도 할 수 있고<br>
본인이 지금당장 **필요한 조건들이 떠오른다면** 기계로 보완이 가능 한 정도이지<br>
본인이 지금당장 할 수 없으면, **뭐를 사용해도 불가능하다는** 시각으로 접근하자!!

<img src="http://t1.daumcdn.net/liveboard/ziksir/99a921c2adfc422ea79793ad41144952.jpg" align='left'>

## **머신러닝 딥러닝은,**
### 과거의 **통계적 방법 만으로는 규칙을 찾기 어려운** 데이터에 대해서, 
### **보다** <strike>상대적으로</strike> **정형화된 분석** 을 도와주는 **보조적 도구** 이다
#### <strike>그런데 그 정형화가 정형화가 아닌것 또한 함정</strike>

<br><br>
## **2 Let's Start**
### **01 Coding 둘러보기**
Coding 이란 : 컴퓨터에게 숫자, 영어, 기호 로 특정명령을 내리는 것 <strike>한글은 불가능</strike>

<br><br>
## **2 Datum 객체 학습하기**

<br>
### **01 숫자의 사칙연산**
https://soooprmx.com/archives/4886 : 파이썬 내장함수

In [1]:
print(1 +   2)
print(30 /  4)   # 나누기 
print(30 // 4)   # 몫
print(30 %  4)   # 나머지

3
7.5
7
2

<br>
### **02 '문자', "문자"의 연산**
1. 문자의 연결(사칙연산)
1. [indexing]
1. [slicing:]

In [2]:
print('0')
print("10" + '2')
print('대한민국'+'2018'+'평창올림픽'+'gogo!!')

0
102
대한민국2018평창올림픽gogo!!

In [3]:
gogl = '20,000,000$'
print(gogl[0])
print(gogl[-1])

2
$

In [4]:
gogl[:2]

'20'

### **03 문자와 숫자의 변환**
1. type()
1. str()
1. int()
1. float()

In [5]:
code_str = '005390'
type(code_str)

str

<br><br>
## **3 Data 객체 학습하기**
1. 여러객체를 **_순차적으로 담을 수 있는_** [ list ]
1. 여러객체를 **_임의의 주소값으로 담을 수 있는_** {dict}
1. **_원본 DATABASE에서 추출하여 순차적으로 담긴_** (tuple,)

<br>
### **01 [ list ]**

In [6]:
lists = [1,2,3,'회계','재무']
len(lists)

5

In [7]:
lists.append(2017)  
lists

[1, 2, 3, '회계', '재무', 2017]

In [8]:
lists.append(['08-15','22:00:30'])
lists

[1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30']]

In [9]:
lists.insert(0, [100, 200, 300])
lists

[[100, 200, 300], 1, 2, 3, '회계', '재무', 2017, ['08-15', '22:00:30']]

In [10]:
print(lists[0])   
print(lists[-1])

[100, 200, 300]
['08-15', '22:00:30']

In [11]:
print(lists[3:6])
print(lists[:3])
print(lists[:-2])

[3, '회계', '재무']
[[100, 200, 300], 1, 2]
[[100, 200, 300], 1, 2, 3, '회계', '재무']

In [12]:
lists_1 = [1,31,51,23]
lists_2 = [19,14,4,2,5]
list_num = lists_1 + lists_2
list_num

[1, 31, 51, 23, 19, 14, 4, 2, 5]

In [13]:
list_num.sort()
list_num

[1, 2, 4, 5, 14, 19, 23, 31, 51]

In [14]:
list_string = ['python', 'java', 'Python', 'vba', 'oracle', 'ABC']
list_string.sort()
list_string

['ABC', 'Python', 'java', 'oracle', 'python', 'vba']

In [15]:
list_string = ['한글', '미국', '영어', '일본어', '중국어', '히브리어', '라틴어']
list_string.sort() 
list_string

['라틴어', '미국', '영어', '일본어', '중국어', '한글', '히브리어']

In [16]:
for txt in list_string:
    print(txt)

라틴어
미국
영어
일본어
중국어
한글
히브리어

In [17]:
for no, txt in enumerate(list_string):
    print(no, ' 번 index 데이터 ', txt)

0  번 index 데이터  라틴어
1  번 index 데이터  미국
2  번 index 데이터  영어
3  번 index 데이터  일본어
4  번 index 데이터  중국어
5  번 index 데이터  한글
6  번 index 데이터  히브리어

In [18]:
name = ['한국항공우주', '대우조선해양']
code = ['047810', '000300']

In [19]:
krx_code = [name[0]] + [code[0]]
krx_code.append([name[1],code[1]])
krx_code

['한국항공우주', '047810', ['대우조선해양', '000300']]

<br><br>
### **02  { Dictionary_key :  _value } **

In [20]:
dictionary = {'005390':'삼성전자', 
              '035420':['네이버','NAVER','Naver','naver']}
dictionary

{'005390': '삼성전자', '035420': ['네이버', 'NAVER', 'Naver', 'naver']}

In [21]:
dictionary.keys()

dict_keys(['005390', '035420'])

In [22]:
dictionary.values()

dict_values(['삼성전자', ['네이버', 'NAVER', 'Naver', 'naver']])

In [23]:
dictionary['035420']

['네이버', 'NAVER', 'Naver', 'naver']

In [24]:
dictionary['000660'] = 'SK하이닉스'
dictionary

{'005390': '삼성전자',
 '035420': ['네이버', 'NAVER', 'Naver', 'naver'],
 '000660': 'SK하이닉스'}

In [25]:
sheet = {'Debit':
             {'Lease': 1_300_000, 
              'Cash' : 700_000 },
         'Credit':
             {'Cash' : 2_000_000}}

sheet.keys()

dict_keys(['Debit', 'Credit'])

In [26]:
sheet['Debit']

{'Lease': 1300000, 'Cash': 700000}

In [27]:
sheet['Debit'].keys()

dict_keys(['Lease', 'Cash'])

In [28]:
sheet['Debit'].values()

dict_values([1300000, 700000])

In [29]:
for idx, datum  in  sheet.items():
    print(idx, datum)

Debit {'Lease': 1300000, 'Cash': 700000}
Credit {'Cash': 2000000}

In [30]:
import pandas as pd
pd.DataFrame(sheet)

          Credit    Debit
Cash   2000000.0   700000
Lease        NaN  1300000

In [31]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}

<br><br>
### **03  ( tuple)**

In [32]:
dictionary = {'005390':'삼성전자', '035420':'네이버'}
items      = dictionary.items()
items

dict_items([('005390', '삼성전자'), ('035420', '네이버')])

In [33]:
len(items)

2

In [34]:
items = list(items)
items

[('005390', '삼성전자'), ('035420', '네이버')]

In [35]:
samsung = items[0]
samsung

('005390', '삼성전자')

In [36]:
type(samsung)

tuple

In [37]:
print(samsung[0])
print(samsung[1])

005390
삼성전자

In [38]:
samsung[0] = '000660'

TypeError: 'tuple' object does not support item assignment